@charset "utf-8";

.calendar_navi {
    margin: 2em 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.calendar_navi_element {
    margin: 5px;
    float: left;
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table.month {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td.daycell {
    border: 1px gray solid;
    width: 14.25%;
    height: 70px;
}

td.noday.daycell {
}

td.statutory_holiday {
    /* border: 1px red solid; */
    background-color: #ff7578;
}

td.not_statutory_holiday {
    /* border: 1px blue solid; */
    background-color: #759eff;
}

td.daycontent div.other_day {
    /* border: 1px green solid; */
    background-color: green;
}

div.daynumber {
    padding-left: 5px;
}

// for clear the float layout
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}