table.month {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td.daycell {
    border: 1px gray solid;
    width: 14.25%;
    height: 70px;
}

td.noday.daycell {
}

td.statutory_holiday {
    /* border: 1px red solid; */
    background-color: #ff7578;
}

td.not_statutory_holiday {
    /* border: 1px blue solid; */
    background-color: #759eff;
}

td.daycontent div.other_day {
    /* border: 1px green solid; */
    background-color: green;
}

div.daynumber {
    padding-left: 5px;
}
