{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'arp_calendar/style.css' %}" />

<div class="calendar_navi">
  <select id="select_year">
    <option value="2012">2012</option>
    <option value="2013">2013</option>
  </select>
  <div id="label_year">年</div>
  <select id="calendar_month">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <div id="label_month">月</div>
  <div id="prev_month">前月</div>
  <div id="next_month">次月</div>
</div>

{{ month_html }}
