{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'arp_calendar/style.css' %}" />
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'arp_calendar/jquery-1.9.1.js' %}"></script>
<script type="text/javascript" src="{% static 'arp_calendar/arp_calendar.js'%}"></script>
{% endblock %}

{% block content %}
<div class="calendar_navi clearfix">
  <form id="list_calendar" action="{% url 'arp_calendar:list_calendar' %}" method="post">
  {% csrf_token %}
    <select id="select_year" name="select_year" class="calendar_navi_element">
    {% for year in years %}
      {% if year == selected_year %}
        <option value="{{ year }}" selected>{{ year }}</option>
      {% else %}
        <option value="{{ year }}">{{ year }}</option>
      {% endif %}
    {% endfor %}
    </select>
    <div class="calendar_navi_element" id="label_year">年</div>
    <select id="select_month" name="select_month" class="calendar_navi_element">
      {% for month in months %}
        {% if month == selected_month %}
          <option value="{{ month }}" selected>{{ month }}</option>
        {% else %}
          <option value="{{ month }}">{{ month }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <div class="calendar_navi_element" id="label_month">月</div>
    <input type="submit" id="select_submit" value="表示">
  </form>
  <div class="calendar_navi_element" id="prev_month">前月</div>
  <div class="calendar_navi_element" id="next_month">次月</div>
</div>

<div class="content">
{{ month_html }}
</div>
{% endblock %}
